pandas
numpy
nltk
scikit-learn
spacy
streamlit
PyPDF2
python-docx
language-tool-python
matplotlib
seaborn
streamlit==1.19.0
altair==4.2.2
scikit-learn
pandas
PyMuPDF
numpy
xgboost
joblib
